<ul class="nav nav-stacked" role="navigation">
  <li class= "<%= (@page_title=="Home")? "active" : ""%>">
    <%= link_to("Home", home_path)%>
  </li>
  <li class= "<%= (@page_title=="Episodes")? "active" : ""%>">
    <%= link_to("Episodes", admin_episodes_path) %>
  </li>
  <li class="<%= (@page_title=="Livestream")? "active" : ""%>">
    <%= link_to("Livestream", admin_streamitems_path) %>
  </li>
</ul>
