<%@page_title="Home"%>
<div class="home index">
  <div id="carousel" class="row">
    <div id="homeCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div id="about-slide" class="carousel-caption">
            <h2>Welcome to Pinkerton Radio!</h2>
            <p>An internet radio station brought to you by high school students</p>
            <a href="#about"><button class="btn btn-info"> More about us </button></a>
          </div>
          <%=image_tag("carousel/dwight.jpg")%>
        </div>
        <div class="item">
          <div id="listen-slide" class="carousel-caption">
            <h2>Listen up!</h2>
            <p>Click below to listen to our radio</p>
            <a href="<%= listen_path %>"><button class="btn btn-info"> Listen now </button></a>
          </div>
          <%=image_tag("carousel/dwight2.jpg")%>
        </div>
        <div class="item">
          <div id="join-slide" class="carousel-caption">
            <h2>Get in touch</h2>
            <p>We are always looking for feedback and new members. Click below to contact us!</p>
            <a href="#join"><button class="btn btn-info"> Contact us </button></a>
          </div>
          <%=image_tag("carousel/dwight3.jpg")%>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="fluid-container">
    <!--ABOUT SECTION-->
    <div id="about" class="row main-section">
      <div class="row">
        <h2 class="section-heading">About Us<h2>
      </div>
      <div class="row section-body">
        <div id="mission" class="about-item <%= setCols(4)%>">
          <div class="img-circular"></div>
          <div class="banner"><h4 class="banner-text">Mission</h4></div>
          <div class="panel-body">Image of some inspiring stuff</div>
        </div>
        <div id="team" class="about-item <%= setCols(4)%>">
          <div class="img-circular"></div>
          <div class="banner"><h4 class="banner-text">Team</h4></div>
          <div class=""> Image of our current team </div>
        </div>
        <div id="vision" class="about-item <%= setCols(4)%>">
          <div class="img-circular"></div>
          <div class="banner"><h4 class="banner-text">Vision</h4></div>
          <div class="panel-body"> Image of an eye or something majestic </div>
        </div>
      </div>
    </div>
    <div id="join" class="row main-section">
      <div class="row">
        <h2 class="section-heading">Contact Us<h2>
      </div>
      <div class="row section-body">
      </div>
    </div>
  </div>
</div>
