<% @page_title="Add Episode to Stream" %>
<% if !@streamitem.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @streamitem.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<div class="container">
  <h2>Add Episodes to <%= @selected_date.strftime('%B %d, %Y') %></h2>
  <%= form_tag({controller: "admin/streamitems", action: "create"}, method: "post") do %>
    <div style="display: none;"><%= date_field :date, :string, :value => @selected_date.strftime('%Y-%m-%d') %></div>
    <table class="table table-bordered table-striped row">
       <thead>
          <tr>
            <th class="col-md-1" style="text-align: center;"><%= echoGlyphicon("ok") %></th>
            <th class="col-md-2">Name</th>
            <th class="col-md-6">Description</th>
            <th class="col-md-2">Duration</th>
          </tr>
       </thead>

       <tbody id="streamitems">
         <% @episodes.each do |episode| %>
           <tr>
            <td class="col-md-1">
              <div class="checkbox checkbox-primary">
                <%= check_box_tag("#{episode.id}") %>
                <%= label_tag("#{episode.id}", "") %>
              </div>
            </td>
            <td class="col-md-2"><%= episode.name %></td>
            <td class="col-md-6"><%= episode.description %></td>
            <td class="col-md-2"><%= episode.duration_str %></td>
           </tr>
         <% end %>
       </tbody>
    </table>
    <%= submit_tag("Add Episodes", class: "btn btn-primary") %>
  <% end %>
</div>
