<% @page_title="Episodes" %>
<div class="episodes index container">
  <%= link_to("<- Back to Admin Panel", admin_index_path)%>
  <h2>Episodes</h2>
  <div><%= pluralize(@episodes.size,'episode')%> found</div>
  <table class="listing table table-bordered table-striped" summary="Episode List">
    <thead>
      <tr class="header">
        <th>Episode Number</th>
        <th>Episode Name</th>
        <th>Show</th>
        <th>Last Updated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= episode.show %></td><!--not necessary-->
        <td><%= episode.updated_at.strftime("%a  %B %d, %Y at %I:%M %p")%></td>
        <td class="actions">
          <%= link_to("Show",{:action => 'show', :id => episode.id}, :class => 'action show') %> <!-- onclick this happens -->
          <!-- invisible until edit button toggled -->
          <%= link_to("Edit",{:action => 'edit', :id => episode.id}, :class => 'action edit') %>
          <!-- invisible until edit button toggled -->
          <%= link_to("Delete", admin_episode_path(episode), method: :delete) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
