<!DOCTYPE html>
<html>
    <head>
      <title>PA Radio | <%= @page_title || ""%></title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <!--main layout-->
      <!--Header here-->
      <div id="main-container" class="container-fluid">
        <%=render('shared/topnav')%>
        <div class="row">
          <div id="sidenav" class="col-md-2 col-lg-2">
          <%=render('shared/sidenav')%>
          </div>
          <div id="main-content" class="col-md-10 col-lg-10">
            <% if !flash[:notice].blank? %>
               <div class = "alert alert-info">
                  <%= flash[:notice] %>
               </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
     <!--footer here-->
   </body>
</html>
